<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Messages</title>
</head>
<body>
    <h1>Messages</h1>
    <form data-th-action="@{/messages}" method="post">
        <input type="text" name="content" autofocus>
        <button>Submit</button>
    </form>
    <p data-th-each="message : ${messages}"
        data-th-text="${message.id + ': ' + message.content}">Dummy message</p>
</body>
</html>